* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    max-width: 100%;
    font-family: "Open Sans Condensed";
}

.header {
    background: url('../img/landscapes/landscape1.jpg') center;
    background-size: cover;
    background-position: top center;
    width: 100vw;
    height: 960px;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

nav {
    list-style-type: none;
}

.nav-header {
    height: 30px;
    font-size: 25px;
    font-weight: 900;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 30px 250px;
    gap: 150px;
}

.nav-header a {
    text-decoration: none;
    color: white;
}



.icon-header a {
    margin: 0 20px;
    text-decoration: none;
    color: white;
}

.content-header {
    width: 100%;
    height: 350px;
    margin-top: 300px;
    margin-left: 150px;

}

.content-header h1 {
    color: whitesmoke;
    font-weight: 900;
    font-size: 80px;
    line-height: 1.2;
}

hr {
    width: 140px;
    color: #3D858E;
}

.photographe {
    color: whitesmoke;
    font-weight: 900;
    font-size: 20px;
    margin: 15px 0;
}

.text-photographe {
    color: white;
    font-size: 25px;
}

.discover {
    background-color: #3D858E;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    margin-top: 50px;
}

.discover a {
    color: white;
}

.icon-header {
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
    padding: 0 100px;
}